.users {
    .pagination {
        padding: 20px;
    }
    .user {
        display: flex;
        padding: 20px;

        .userAvatar {
            text-align: center;
            margin-right: 20px;

            .avatar {
                img {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                }
            }
        }
        .userInfo {
            display: flex;
            justify-content: space-between;
            flex-grow: 1;
        }
    }

    .selectedPage {
        font-weight: 900;
    }
}
