.myPosts {
    background: #e8e8e8;
    .newPost {
        text-align: right;
        padding: 20px;
        color: #999;
        background: #fff;

        h3 {
            text-align: left;
            color: #494949;
        }

        .btn {
            
          }
    }

    .posts {
        
    }
}