.post {
    padding: 10px;

    .avatar {
        width: 50px;
        border-radius: 50%;
        vertical-align: middle;
    }

    .postText {
        display: inline-block;
        padding-left: 10px;
    }

    .likes {
        text-align: right;
    }
}