* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  font-size: 16px;
  line-height: 30px;
  font-family: Nunito,Arial,Helvetica,sans-serif;
  font-weight: 400;
  color: #494949;
  letter-spacing: 0px;
  text-transform: none;
  background: #e8e8e8;
}

a {
  text-decoration: none;
}

.main {
  flex-grow: 5;
}
.app-wrapper {
  display: flex;
  flex-direction: row;
}
.app-wrapper-content {

}

button {
  display: inline-block;
  padding: 8px 13px;
  border: none;
  background-color: #ec4d3b;
  color: white;
  font-size: 14px;
  font-weight: 200;
  border-radius: 3px;
  min-width: 80px;
}

textarea {
  resize: none;
  width: 100%;
  min-height: 100px;
  border: none;
  outline: none;
  padding: 10px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
}