.dialogs {
    display: flex;
    grid-template-columns: 2fr 10fr;
    height: 100%;

    .dialogsItems {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        .dialog {
            padding: 10px;

            img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                vertical-align: middle;
                margin-right: 10px;
            }
        }
    }

    .messages {
        flex-grow: 4;
        display: flex;
        flex-direction: column;

        .messagesList {
            flex-grow: 1;

            .message {
                padding: 5px;
            }
        }
        
        .newMessageBlock {
            text-align: right;

            .newMessageText {
                display: block;
                margin-bottom: 10px;
                width: 100%;
                min-height: 100px;
            }
        }
    }
}